{% extends 'userindex.html' %}
{% load static %}
{% block content %}
<div class="slide-one-item home-slider owl-carousel">
   
  <div class="site-blocks-cover inner-page-cover" style="background-image: url({% static 'user/images/img_3.jpg' %});" data-aos="fade" data-stellar-background-ratio="0.5">
    <div class="container">
      <div class="row align-items-center justify-content-center text-center">

        <div class="col-md-8" data-aos="fade-up" data-aos-delay="400">
          <h2 class="text-white font-weight-light mb-4 display-1 line-height-1">BUNCH OF SALONS</h2>

          <p><a href="{% url 'viewserv' sal='full' %}" class="btn btn-black py-3 px-5">Book Now!</a></p>
        </div>
      </div>
    </div>
  </div>  
</div>
<div class="site-section">
    <div class="container">
      
      <div class="row">
        {% for i in salstore %}
        <div class="col-md-6 col-lg-4 text-center mb-5 mb-lg-5">
          <div class="h-100 bg-light site-block-feature-7">
            <img src="{{i.Emage.url}}" alt="Image" class="img-fluid" style="width: 280px;height: 300px;">
            <div class="p-4 p-lg-5">
              <h3 class="text-black h4"><a href="{% url 'viewserv' sal=i.Sname %}">{{i.Sname}}</h3>
              <h5>{{i.Branch}}</h5>
              <p>{{i.Description}}</p>
              
            </div>
          </div>
        </div>
        
        {% endfor %}   
      </div>
      
    </div>
  </div>
  <div class="site-section">
    <div class="container">
      <div class="row text-center">
        <div class="col-md-12">
          <h2 class="mb-4 text-black">Hey Beauty..</h2>
          <p class="mb-0"><a href="{% url 'viewserv' sal='full' %}" class="btn btn-primary py-3 px-5 text-white">Book Our Services Now</a></p>
        </div>
      </div>
    </div>
  </div>
  {% endblock %}