{% extends 'adminindex.html' %}
{% block content %}
{% for i in bredit %}
<form type="" action="{% url 'breditstore' id=i.id %}" method="post" enctype="multipart/form-data">
{% csrf_token %}
    <div class="card-body">
      <div class="form-group">
        <label for="name">Name</label>
        <input type="text" class="form-control" id="name"  name="name" value="{{i.Name}}">
      </div>
      <div class="form-group">
        <label for="exampleInputFile">File input</label>
        <div class="input-group">
          <div class="custom-file">
            <input type="file" class="custom-file-input" id="image" name="image">
            <label class="custom-file-label" for="image">Choose file</label>
          </div>
          <div class="input-group-append">
            <span class="input-group-text">Upload</span>
          </div>
        </div>
      </div>
      
    </div>
    <!-- /.card-body -->

    <div class="card-footer">
      <button type="submit" class="btn btn-primary">Submit</button>
    </div>
</form>
{% endfor %}

{% endblock %}